<link rel="stylesheet" href="<%= assetPath('css/_footer.css') %>" />
<div class="footer">
	<div class="footer_left">
		<img
			class="footer__albumLogo"
			src="https://i.scdn.co/image/ab67616d0000b2733f3d35703bdcd917dad51c4f"
			alt="Album Logo"
		/>
		<div class="footer__songInfo">
			<h4>Pasoori</h4>
			<p>Shae Gill, Ali Sethi</p>
		</div>
	</div>
	<div class="footer_center">
		<i class="fa-solid fa-shuffle shuffle" style="font-size: small"></i>
		<i class="fa-solid fa-backward-step backward"></i>
		<i
			class="fa-solid fa-circle-play play-pause"
			style="font-size: xx-large"
		></i>
		<i class="fa-solid fa-forward-step forward"></i>
		<i class="fa-solid fa-repeat repeat" style="font-size: small"></i>
	</div>
	<div class="footer_right">
		<i class="fas fa-bars clearQueue" style="cursor: pointer"></i>
		<i class="fa-solid fa-volume-low"></i>
		<input
			type="range"
			name="volume"
			class="song_volume"
			value="10"
			min="0"
			max="100"
		/>
	</div>
</div>
