<link rel="stylesheet" href="/css/_header.css" />
<header class="header">
	<div class="header__left">
		<i class="fa-solid fa-magnifying-glass"></i>
		<input type="text" placeholder="Artists, Albums, Songs..." />
	</div>
	<div class="header__right">
		<img src="<%= locals.user.avatar %>" alt="User Avatar" />
		<h4><%= locals.user.name %></h4>
	</div>
</header>
