<link rel="stylesheet" href="/css/_body.css" />

<div class="body">
	<%- include('_header.ejs'); -%>
	<div class="library">
		<h1>My Playlists</h1>
		<div class="library__playlists playlist_click">
			<div class="song playlist_click" onclick="window.location.href='/playlists';">
				<div class="album playlist_click"></div>
				<div class="songInfo playlist_click">
					<h4 class="playlist_click">Chill Vibe</h4>
				</div>
			</div>
		</div>
		<h1>My Songs</h1>
		<div class="library__songs">
			<div class="song">
				<div class="album"></div>
				<div class="songInfo">
					<h4>Pasoori</h4>
					<p>Shae Gill, Ali Sethi</p>
				</div>
			</div>
		</div>
		<h1>My Artists</h1>
		<div class="library__artists">
			<div class="song">
				<div class="album"></div>
				<div class="songInfo">
					<h4>Ali Sethi</h4>
				</div>
			</div>
		</div>
		<h1>My Albums</h1>
		<div class="library__albums">
			<div class="song">
				<div class="album"></div>
				<div class="songInfo">
					<h4>Coke Studio</h4>
				</div>
			</div>
		</div>
	</div>
</div>
