<link rel="stylesheet" href="/css/_body.css" />

<div class="body">
	<%- include('_header.ejs'); -%>
	<!-- <div class="search">
		<h1>Songs</h1>
		<div class="songs">
			<div class="song">
				<div class="album"></div>
				<div class="songInfo">
					<h4>Pasoori</h4>
					<p>Shae Gill, Ali Sethi</p>
				</div>
			</div>
		</div>
		<h1>Albums</h1>
		<div class="albums">
			<div class="song">
				<div class="album"></div>
				<div class="songInfo">
					<h4>Coke Studio</h4>
				</div>
			</div>
		</div>
		<h1>Playlists</h1>
		<div class="playlists playlist_click">
			<div class="song playlist_click">
				<div class="album playlist_click"></div>
				<div class="songInfo playlist_click">
					<h4 class="playlist_click">Chill Vibes</h4>
				</div>
			</div>
		</div>
		<h1>Artists</h1>
		<div class="artists">
			<div class="artist">
				<div class="artistImage"></div>
				<div class="artistInfo">
					<h4>Ali Sethi</h4>
				</div>
			</div>
		</div>
		<h1>Profiles</h1>
		<div class="artists">
			<div class="artist">
				<div class="artistImage"></div>
				<div class="artistInfo">
					<h4>Ayush Kanduri</h4>
				</div>
			</div>
		</div>
	</div> -->
</div>
