<link rel="stylesheet" href="<%= assetPath('css/_sidebar.css') %>" />
<div class="sidebar">
	<img
		src="https://getheavy.com/wp-content/uploads/2019/12/spotify2019-830x350.jpg"
		alt="spotify-logo"
		class="sidebar__logo"
	/>
	<div class="sidebar__option" onclick="window.location.href='/';">
		<i class="fa-solid fa-house"></i>
		<p>Home</p>
	</div>
	<div
		class="sidebar__option search_click"
		onclick="window.location.href='/search';"
	>
		<i class="fa-solid fa-magnifying-glass search_click"></i>
		<p class="search_click">Search</p>
	</div>
	<div
		class="sidebar__option"
		onclick="window.location.href='/users/library';"
	>
		<i class="fa-solid fa-music"></i>
		<p>Your Library</p>
	</div>
	<br />
	<div
		class="sidebar__option"
		onclick="window.location.href='/playlists/create';"
	>
		<i class="fa-solid fa-square-plus" style="font-size: x-large"></i>
		<p>Create Playlist</p>
	</div>
	<div
		class="sidebar__option"
		onclick="window.location.href='/users/liked-songs';"
	>
		<i class="fa-solid fa-heart" style="font-size: x-large"></i>
		<p>Liked Songs</p>
	</div>
	<div class="sidebar__option" id="open-modal">
		<i class="fa-solid fa-share-nodes" style="font-size: x-large"></i>
		<p>Share</p>
	</div>
	<br />
	<strong class="sidebar__title">PLAYLISTS</strong>
	<hr />
	<% if(locals.user.playlists.length > 0){ %> <% for(let playlist of
	locals.user.playlists){ %>
	<div
		class="sidebar__option"
		onclick="window.location.href='/playlists/custom/<%= playlist._id %>';"
	>
		<p><%= playlist.name %></p>
	</div>
	<% } %> <% } %>
</div>
