<link rel="stylesheet" href="/css/_songRow.css" />

<div class="songRow">
	<img
		src="https://i.scdn.co/image/ab67616d0000b2733f3d35703bdcd917dad51c4f"
		alt=""
		class="songRow__album"
	/>
	<div class="songRow__info">
		<h1>Pasoori</h1>
		<p>Shae Gill, Ali Sethi</p>
	</div>
    <p>Coke Studio</p>
    <i class="fa-solid fa-heart"></i>
    <p>3:35</p>
</div>
