<script defer src="<%= assetPath('js/create_link.js') %>"></script>

<div class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span id="close-modal">&times;</span>
			<h3>Share Your Listening Activity</h3>
		</div>
		<div class="modal-body">
			<img
				class="social facebook"
				src="<%= assetPath('images/fb__logo.png') %>"
				alt="facebook__logo"
				data-action="share/facebook/share"
			/>
			<img
				class="social twitter"
				src="<%= assetPath('images/twitter__logo.png') %>"
				alt="twitter__logo"
				data-action="share/twitter/share"
			/>
			<img
				class="social whatsapp"
				src="<%= assetPath('images/whatsapp__logo.png') %>"
				alt="whatsapp__logo"
				data-action="share/whatsapp/share"
			/>
		</div>
	</div>
</div>
