<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Spotify Clone | <%= title %></title>
		<style>
			#email_verification {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100vw;
				height: 100vh;
				background-color: #040404;
				color: #fff;
			}
			#email_verification h1 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				word-wrap: break-word;
				overflow-wrap: break-word;
				animation: fade-in 1.5s ease-in-out;
			}
			#email_verification h1 i {
				font-size: 5rem;
			}
			@keyframes fade-in {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}
		</style>
		<link
			rel="shortcut icon"
			href="/images/favicon.png"
			type="image/x-icon"
		/>
		<script
			src="https://kit.fontawesome.com/34162fcf4d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<main id="email_verification">
			<h1>
				<i class="fa-solid fa-circle-check"></i> Email has been Verified.
			</h1>
		</main>
	</body>
</html>
