.songRow {
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
	display: flex;
	align-items: center;
	color: var(--text-color);
	.songRow__album {
		width: 40px;
		height: 40px;
	}
	&:hover {
		cursor: pointer;
		background-color: var(--background-color);
		opacity: 0.8;
	}
	.songRow__info {
		flex: 0.5;
		margin-left: 20px;
		h1 {
			font-size: 16px;
		}
		p {
			font-size: 14px;
			margin-top: 3px;
			color: gray;
		}
		+ p {
			flex: 0.5;
			+ i:hover {
				color: var(--logo-color) !important;
			}
			+ i + p {
				margin-left: 20px;
			}
		}
	}
	&.songRow:last-of-type {
		margin-bottom: 100px;
	}
	input[type="checkbox"] {
		height: 30px;
		width: 30px;
		cursor: pointer;
		&:checked {
			background-color: var(--logo-color);
		}
	}
}

@media screen and (max-width: 500px) {
	.songRow {
		.songRow__info {
			flex: 1;
			+ p {
				display: none;
				+ i + p {
					display: none;
				}
			}
		}
	}
}
