#forgot_password {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	color: var(--text-color);
	text-align: center;
	padding: 3%;
	word-break: break-all;
	word-wrap: break-word;
	i {
		font-size: 30px;
		color: rgb(168, 168, 168);
	}
	> :nth-child(3) {
		font-weight: 500;
		color: rgb(168, 168, 168);
	}
	> :nth-child(5) {
		color: rgb(168, 168, 168);
	}
	form {
		margin-bottom: 1rem;
		width: 100%;
		input[type="submit"] {
			background-color: var(--logo-color);
			color: black;
			border: none;
			font-weight: 600;
			border-radius: 5px;
			font-size: 1.2rem;
			display: block;
			margin: auto;
			margin-top: 15px;
			text-align: center;
			padding: 10px;
			min-width: 40%;
			cursor: pointer;
			outline: none;
			&:focus {
				outline: none;
			}
		}
		input[type="email"] {
			min-width: 40%;
			height: 40px;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 10px;
			margin: auto;
			margin-bottom: 15px;
			font-size: 14px;
			color: #555;
			outline: none;
			font-weight: 700;
			&:focus {
				outline: none;
			}
		}
	}
	#links {
		margin-top: 1rem;
		color: var(--text-color);
		a {
			color: var(--text-color);
			text-decoration: none;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
			&:hover,
			&:focus,
			&:active,
			&:visited,
			&:link {
				color: var(--text-color);
				outline: none;
			}
		}
	}
}
