#share {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	color: var(--text-color);
	padding: 10px 20px;
	overflow: scroll;
	gap: 1.2rem;
    text-align: center;
    h1{
        text-align: center;
        margin: auto;
    }
    img{
        margin: auto;
    }
	span {
		color: var(--logo-color);
        text-align: center;
	}
	> :nth-child(1) {
		word-spacing: 0.3rem;
	}
	> :nth-child(2) {
		width: 12rem;
		height: 12rem;
		border-radius: 10px;
		-ms-object-fit: cover;
		-webkit-object-fit: cover;
		-o-object-position: center;
		-ms-object-position: center;
		-webkit-object-position: center;
		-o-object-fit: cover;
		object-fit: cover;
		object-position: center;
		aspect-ratio: 1/1;
	}
	> :nth-child(5) {
		border: 2px solid var(--logo-color);
		border-radius: 10px;
		padding: 10px 20px;
		cursor: pointer;
	}
	> :last-child {
		width: 10rem;
		height: 5rem;
		-o-object-fit: contain;
		-ms-object-fit: contain;
		-webkit-object-fit: contain;
		object-fit: contain;
	}
}

#share::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 640px) {
	#share {
		gap: 1.5rem;
        padding: 5% 7%;
		> :nth-child(1) {
			margin-top: 10rem;
		}
		> :nth-child(2) {
			width: 12rem;
			height: 12rem;
		}
		> :last-child {
			margin-bottom: 1rem;
		}
	}
}

@media screen and (max-width: 421px) {
	#share {
        font-size: 0.7rem;
		> :nth-child(1) {
			margin-top: 5rem;
		}
		> :nth-child(2) {
			width: 10rem;
			height: 10rem;
		}
	}
}