.signup {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	flex-direction: column;
	.signup__heading {
		color: var(--text-color);
		font-size: 3rem;
		margin-bottom: 1.5rem;
	}
	#signup__form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		input {
			width: 100%;
			height: 3rem;
			border: none;
			border-bottom: 1px solid var(--text-color);
			background-color: transparent;
			color: var(--text-color);
			font-size: 1.5rem;
			margin: 0.7rem 0;
			padding: 10px;
			outline: none;
			&::placeholder {
				color: var(--text-color);
				font-size: 1.3rem;
				text-align: center;
			}
			&:focus {
				outline: none;
			}
		}
		button {
			width: 100%;
			height: 3rem;
			border: none;
			border-radius: 5px;
			background-color: var(--logo-color);
			color: var(--text-color);
			font-size: 1.5rem;
			margin: 1rem 0;
			outline: none;
			cursor: pointer;
			&:hover {
				background-color: var(--logo-color);
			}
		}
	}
	.links {
        margin-top: 1rem;
        color: var(--text-color);
		a {
			color: var(--text-color);
			text-decoration: none;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
			&:hover,
			&:focus,
			&:active,
			&:visited,
			&:link {
				color: var(--text-color);
				outline: none;
			}
		}
	}
}
