<table
	style="
		background-color: #1ed15e;
		border-radius: 7px;
		padding: 5%;
		padding-bottom: 7%;
		padding-left: 5%;
		padding-right: 5%;
		font-size: 1.1rem;
		font-weight: 500;
		word-spacing: 0.1rem;
		width: 50vw;
	"
>
	<tr>
		<td>
			<img
				src="https://getheavy.com/wp-content/uploads/2019/12/spotify2019-830x350.jpg"
				alt="spotify logo"
				style="
					width: 100%;
					height: 100%;
					-o-object-fit: cover;
					-o-object-position: center;
					object-fit: cover;
					object-position: center;
					border-radius: 10px;
				"
			/>
		</td>
	</tr>
	<tr>
		<td>
			<br />
			<p
				style="
					text-align: left;
					color: #040404;
					font-family: sans-serif;
					word-break: break-all;
					overflow-wrap: break-word;
					font-weight: 500;
				"
			>
				Hi
				<strong><%= user.name %></strong>, Welcome to
				<strong>The Spotify Clone App</strong>.
				<br />
				<br />
				Please Click on the Link given below to
				<strong>Verify your Email Address</strong>.
			</p>
			<br />
		</td>
	</tr>
	<tr>
		<td>
			<br />
			<a
				style="
					text-align: left;
					color: #fafafa;
					font-family: sans-serif;
					word-break: break-all;
					background-color: #040404;
					padding: 3% 5%;
					border-radius: 5px;
					margin: auto;
					text-decoration: none;
				"
				href="<%= user.url %>"
				target="_blank"
				rel="noopener noreferrer"
			>
				Verify Email Address
			</a>
		</td>
	</tr>
</table>
