@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500&display=swap");
* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Red Hat Display", sans-serif; }

:root {
  --background-color: black;
  --logo-color: #1db954;
  --text-color: #fff;
  --heading-font-family: "Poppins", sans-serif;
  --text-font-family: "Red Hat Display", sans-serif; }

body {
  position: relative;
  width: 100%;
  height: 100%; }

main {
  width: 100vw;
  height: 100vh;
  min-height: 100vh; }
