#reset_password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  padding: 3%;
  word-break: break-all;
  word-wrap: break-word; }
  #reset_password i.fa-key {
    font-size: 30px;
    color: var(--text-color); }
  #reset_password > :nth-child(3) {
    color: var(--text-color);
    font-weight: 500; }
  #reset_password > :last-child {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #reset_password > :last-child input[type="submit"] {
      background-color: var(--logo-color);
      color: black;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      display: block;
      margin-top: 15px;
      padding: 15px;
      width: 100%;
      cursor: pointer;
      outline: none; }
      #reset_password > :last-child input[type="submit"]:focus {
        outline: none; }
    #reset_password > :last-child .password {
      width: 100%;
      display: flex;
      flex-direction: row; }
      #reset_password > :last-child .password button {
        width: 10%;
        height: 40px;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 5px;
        background-color: var(--text-color);
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
        #reset_password > :last-child .password button:focus {
          outline: none; }
      #reset_password > :last-child .password input[type="password"],
      #reset_password > :last-child .password input[type="text"] {
        width: 90%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 1.5;
        font-family: var(--sub-heading-font-family);
        color: #555;
        outline: none;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-weight: 700; }
        #reset_password > :last-child .password input[type="password"]:focus,
        #reset_password > :last-child .password input[type="text"]:focus {
          outline: none; }

@media screen and (max-width: 500px) {
  div.container > :last-child .password button {
    font-size: 0.6rem;
    font-weight: bolder; } }
